<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="js">
    <script type="text/javascript" th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/AdminLTE/2.4.2/dist/js/adminlte.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/sockjs-client/1.1.2/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/stomp-websocket/2.3.3-1/stomp.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/pnotify/2.1.0/pnotify.core.min.js}"></script>
</head>
</html>