<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!--common-js-->
    <script th:replace="common/js"></script>
    <meta th:replace="common/meta">
    <link th:replace="common/css">
    <title>位置点实时数据</title>
    <style type="text/css">
        /* 覆盖 bootstrap 样式 START */
        /* 调小水平间距 */
        .table th, .table td {
            padding: 5px 2px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" th:href="@{/assets/dataTables/1.10.10/css/fixedColumns.bootstrap.min.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse" th:data-server-time="${#dates.createNow().getTime()}">
<div class="wrapper">
    <header class="main-header">

        <!-- Logo -->
        <a th:href="@{/systems/2/switch}" class="logo">
            <!--&lt;!&ndash; mini logo for sidebar mini 50x50 pixels &ndash;&gt;-->
            <!--<span class="logo-mini"><b>A</b>LT</span>-->
            <!--&lt;!&ndash; logo for regular state and mobile devices &ndash;&gt;-->
            <!--<span class="logo-lg"><b>Admin</b>LTE</span>-->
            <span>终结者</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <ul class="nav navbar-nav">
                <li th:each="system : ${session.menus}" th:if="${system.parentId} == 1"
                    th:class="(${system.id} == ${session.currentSystem})?'active'">
                    <a th:href="@{/systems/{systemId}/switch(systemId = ${system.id})}" th:text="${system.name}"></a>
                </li>
            </ul>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs"
                                  th:text="${T(com.microwise.terminator.sys.util.UserUtils).getCurrentUser().getName()}">Alexander Pierce</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/logout}" class="btn btn-default btn-flat">退出登录</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>


        </nav>
    </header>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content">
            <!-- content START -->
            <div class="box">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a th:href="@{/locationHistoryData(relicId=${relicId})}">历史数据</a></li>
                        <li role="presentation" class="active"><a
                                th:href="@{/locationRealtimeData(relicId=${relicId})}">实时数据</a></li>
                    </ul>
                </div>
                <div class="box-body">
                    <input id="zone-id" type="hidden" th:value="${relicId}"/>
                    <div id="table-container" style="overflow: auto;min-height: 200px; height: 500px;">
                        <div>
                            <table id="real_time_data_table_mould" type="hide"
                                   class="move table table-bordered table-striped table-center realtime-table"
                                   style="margin-bottom:0">
                                <thead>
                                <tr>
                                    <th data-dead='1' data-type='locationName' style='vertical-align: middle;'>
                                        <span>位置点</span></th>
                                    <th data-dead='1' data-type='state' style='vertical-align: middle;'><span>状态</span>
                                    </th>
                                    <th data-dead='1' data-type='stamp' style='vertical-align: middle;'><span>时间</span>
                                    </th>
                                    <th class='moveable' th:each="sensorinfo: ${sensorinfoes}"
                                        th:data-type="${sensorinfo.sensorphysicalid}">
                                        <span th:text="${sensorinfo.cnName}"> </span><br><span th:if="${sensorinfo.units!=''}" class='muted'
                                                                                               th:text="'('+${sensorinfo.units}+')'"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="realtimeData : ${data}" th:id="${realtimeData.locationId}">
                                    <td data-dead='1' data-type='locationName'
                                        th:class="${realtimeData.locationId}"></td>
                                    <td data-dead='1' data-type='state' th:class="${realtimeData.locationId}"></td>
                                    <td data-dead='1' data-type='stamp' th:class="${realtimeData.locationId}"></td>
                                    <td th:each="sensorinfo : ${sensorinfoes}"
                                        th:data-type="${sensorinfo.sensorphysicalid}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>状态分别为：
                        <span class="label label-success">正常</span>
                        <span class="label label-warning">低电/掉电</span>
                        <span class="label label-danger">超时</span>
                        <span class="label label-default">未知</span>,
                        如果显示数值，则为最后电压值，如<span class="label label-success">3.7V</span>。
                    </p>
                </div>
            </div>
            <!-- content END -->
        </section>
        <!--&lt;!&ndash; /.content &ndash;&gt;-->
    </div>
</div>
<script type="text/javascript" th:src="@{/assets/jquery-ui/1.9.2/js/jquery-ui.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/realtime-data/realtime-data-filter.js}"></script>
<script type="text/javascript" th:src="@{/assets/moment/1.7.2/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/moment/1.7.2/lang/zh-cn.js}"></script>
<script type="text/javascript" th:src="@{/assets/dataTables/1.10.10/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
        th:src="@{/assets/dataTables/1.10.10/FixedColumns/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/table-column-movement.0.4.js}"></script>
<script type="text/javascript" th:src="@{/js/page-load-time.js}"></script>
<script type="text/javascript" th:src="@{/js/realtime-data/realtime-data-util.js}"></script>
<script type="text/javascript" th:src="@{/js/realtime-data/realtime-table.js}"></script>
<script type="text/javascript" th:src="@{/js/realtime-data/site-zone-realtime-data.js}"></script>

<script type="text/javascript">
    $(function () {
        $.ajaxSetup({traditional: true});
        //监测指标获取 初始化实时数据表头
        var relicId = $("#zone-id").val();
        var realtimeDataUrl = "locationRealtimeData/relic/" + relicId + "/realtime-data.json";
        var sensorinfoesUrl = "relic/" + relicId + "/sensorinfoes.json";
        var realtimeDataFilterUrl = "relic/" + relicId + "/realtime-data-filter";
        REAL_TIME.execute(sensorinfoesUrl, realtimeDataUrl, realtimeDataFilterUrl);
    });
</script>
</body>
</html>