<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="alarmRecordModel">
    <div class="modal fade" id="alarmRecordModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-backdrop="false" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">报警提示</h4>
                </div>
                <div class="modal-body" style="max-height: 600px;overflow: auto">
                    <table class="table table-bordered table-hover table-striped table-condensed">
                        <tr>
                            <th>#</th>
                            <th>机构</th>
                            <th>文物</th>
                            <th>报警原因</th>
                            <th>报警时间</th>
                            <th>状态</th>
                        </tr>
                        <tr th:each="alarmRecord:${loginAlarm}">
                            <td th:text="${alarmRecordStat.count}"></td>
                            <td th:text="${alarmRecord.office != null}?${alarmRecord.office.officeName}"></td>
                            <td th:text="${alarmRecord.relic != null}?${alarmRecord.relic.name}"></td>
                            <td th:text="${alarmRecord.factor}"></td>
                            <td th:text="${#dates.format(alarmRecord.alarmtime,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>未处理</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary aware">知道了</button>
                </div>
            </div>
        </div>
    </div>
</div>